# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log

.idea/
cmd/device-modbus
glide.lock
VERSION

# snap files
*.snap
*.assert
prime/
stage/
parts/
squashfs-root/
coverage.out
